<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>
  <header>Header</header>
  <nav>
    Navigation
    <ul>
      {{#each posts}}
        <a href='{{link}}'>{{link}}</a>
      {{/each}}
    </ul>
  </nav>
</body>
</html>